.section-about {
  @extend %section;
  background-color: $about-bg-color;
  padding-top: 70px;
  padding-bottom: 70px;

  &__container {
    flex-direction: column;
    @include media {
      @include flex(space-around, center);
    }
  }
  &__image-wrapper {
    @include flex;
    position: relative;
    @include padding-hack(100%);

    @media screen and (min-width: $screen-desktop) {
      width: 50%;
      padding-bottom: 35%;
    }
  }
  &__image {
    transition: all 0.4s ease;
    @media screen and (min-width: $screen-desktop) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__text-wrapper {
    width: 100%;
    @include flex(center, center, column);

    @media screen and (min-width: $screen-desktop) {
      width: 50%;
      align-items: flex-start;
      padding-left: 90px;
    }
  }

  &__title {
    @include text($H800, 700, $white);
    line-height: 27px;
    margin-bottom: 34px;

    @include media {
      @include text($H900, 700, $white);
      line-height: 27px;
      text-align: center;
    }
  }

  &__text {
    @include text($H100, 300, $white);
    line-height: 1.1;

    @include media {
      @include text($H200, 300, $white);
      max-width: 499px;
      line-height: 1.4;
      text-align: left;
    }
  }
}
