.section-contact {
  @extend %section;
  @include flex(flex-end, center, column);
  background-image: url(../images/contact_bg.png);
  background-size: cover;
  background-position: center center;
  padding-top: 50px;
  padding-bottom: 50px;
  @include media {
    padding-top: 101px;
    padding-bottom: 120px;
    &__button {
      width: 35%;
    }
  }

  &__header {
    @include flex(center, center, column);
  }
  &__title {
    font-size: 90px;
    line-height: 25px;
    font-weight: 700;
    color: $dark;
    margin-bottom: 48px;
  }

  &__subtitle {
    max-width: 360px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 1;
    font-weight: 300;
    color: $dark;
    margin-bottom: 46px;
    text-align: center;
  }

  &__container {
    @include flex(flex-start, sretch, column);

    @include media {
      @include flex(flex-star, flex-start);
      padding-left: 220px;
    }
  }

  &__form {
    @include flex(center, flex-start, column);
    &:valid + * {
      visibility: visible;
    }
  }

  &__form:not(:last-child) {
    margin-bottom: 15px;
  }
  &--textarea {
    padding: 20px, 15px, 0, 15px;
    width: 100%;
  }

  &__left-side {
    margin-right: 0px;
    @include media {
      margin-right: 170px;
    }
  }

  &__list-item {
    text-align: center;
    @include text($H300, 400);
    @include media {
      text-align: left;
    }
  }

  &__list-item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__value {
    text-decoration: none;
    @include text($H300, 400);
    @include media {
      @include text($H100, 400);
    }
  }
  &__button {
    margin-bottom: 30px;
    visibility: hidden;
  }
}
