.section-contact {
  @extend %section;
  @include flex(flex-end, center, column);
  background-image: url(/images/contact_bg.png);
  background-size: cover;
  background-position: center center;
  padding-top: 50px;
  padding-bottom: 50px;
  @include media {
    padding-top: 101px;
    padding-bottom: 120px;
  }

  &__header {
    @include flex(center, center, column);
  }
  &__title {
    font-size: 90px;
    line-height: 25px;
    font-weight: 700;
    color: $dark;
    margin-bottom: 48px;
  }

  &__subtitle {
    display: block;
    width: 342px;
    font-size: 17px;
    line-height: 25px;
    font-weight: 300;
    color: $dark;
    margin-bottom: 46px;
    text-align: center;
  }

  &__container {
    @include flex(flex-start, sretch, column);

    @include media {
      @include flex(space-around, flex-start);
    }
  }
  &__form {
    @include flex(center, flex-start, column);
  }
  &__form:not(:last-child) {
    margin-bottom: 15px;
  }
  &__list-item:not(:last-child) {
    margin-bottom: 15px;
  }
  &__value {
    text-decoration: none;
  }
}
