.footer {
  background-color: $footer-bg-color;
  padding-top: 32px;
  padding-bottom: 31px;

  &__container {
    @extend %container;
    @include flex(center, center, column);

    @include media {
      @include flex(space-between, center);
    }
  }

  &__copyright {
    @include text($H300, 300, $footer-text-color);
    line-height: 25px;
    opacity: 0.5;
    margin-bottom: 20px;
    @include media {
      @include text($H100, 300, $footer-text-color);
      line-height: 25px;
      font-weight: 300;
      opacity: 0.5;
      margin-bottom: 0;
    }
  }
  &__logo {
    text-decoration: none;
    margin-bottom: 20px;
    @include media {
      text-decoration: none;
      margin-bottom: 0;
    }
  }
  &__autor {
    @include text($H300, 300, $footer-text-color);
    line-height: 25px;
    @include media {
      @include text($H100, 300, $footer-text-color);
      line-height: 25px;
    }
  }
  &__autor--red {
    font-size: 15px;
    font-weight: 700;
    color: #ff2b58;
  }
}
