.section-blog {
  background-color: $blog-bg-color;
  padding: 100px 24px 120px;
  @include flex(center, center, column);

  &__container {
    @include flex(center, center, column);
  }

  &__title {
    @include text($H900, 700, $white);
    line-height: 0.75;
    margin-bottom: 42px;
  }

  &__description {
    @include text($H200, 300, $white);
    text-align: center;
    margin: 0, auto;
    line-height: 1.5;
    max-width: 570px;
    margin-bottom: 47px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  &__list-item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__button {
    margin-bottom: 0px;
  }
}
