.section-services {
  background-color: $service-bg-color;
  @extend %section;

  &__container {
    @include flex(flex-start, flex-start, column);
    padding-top: 30px;
    padding-bottom: 30px;

    @include media {
      @include flex(center, center);
      padding: 100px 165px 163px 265px;
    }
  }
  &__picture-side {
    @include flex(center, center);
    position: relative;
    width: 100%;
    @include padding-hack(90%);
    order: -1;
    margin-bottom: 32px;

    @media screen and (min-width: $screen-desktop) {
      order: 2;
      width: 60%;
      margin-bottom: 0;
      padding-bottom: 35%;
    }
  }

  &__content-side {
    width: 100%;
    @include flex(center, center, column);
    @media screen and (min-width: $screen-desktop) {
      width: 50%;
      align-items: center;
    }
  }

  &__title {
    @include text($H900, 700, $white);
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    z-index: 2;

    @include media {
      @include text($H900, 700, $white);
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
