<section id="contact" class="section-contact">
  <div class="section-contact__header">
    <h2 class="section-contact__title">Contact</h2>
    <p class="section-contact__subtitle">
      For new projects, ideas, business or anything you'd like to discuss,
      contact with me!
    </p>
  </div>

  <div class="container section-contact__container">
    <div class="section-contact__left-side">
      <form class="section-contact__form" id="form" action="/">
        <input
          class="section-contact__input input"
          type="text"
          placeholder="Your name..."
          minlength="2"
          required
        />
        <input
          class="section-contact__input input"
          type="email"
          placeholder="Your email..."
          required
        />
        <input
          class="section-contact__input input"
          type="tel"
          placeholder="Your phone number..."
          minlength="9"
          required
        />
        <textarea
          class="section-contact__input input input--textarea"
          placeholder="Your message..."
          cols="30"
          rows="10"
          required
        ></textarea>
      </form>
      <button
        form="form"
        type="submit"
        class="button button--contact section-contact__button button--form"
      >
        Send
      </button>
    </div>

    <div class="section-contact__right-side">
      <ul class="section-contact__list list">
        <li class="section-contact__list-item">
          <h3 class="section-contact__label">ADDRESS</h3>
          <p class="section-contact__value">
            123 City name, Street, City, Country
          </p>
        </li>

        <li class="section-contact__list-item">
          <h3 class="section-contact__label">EMAIL</h3>
          <a href="mailto:cahee@domain.com" class="section-contct__value"
            >cahee@domain.com</a
          >
        </li>

        <li class="section-contact__list-item">
          <h3 class="section-contact__label">PHONE</h3>
          <a href="tel:+0123456789" class="section-contact__value"
            >+012 345 6789</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
