<header id="home" class="header">
  <nav class="navigation">
    <div class="container navigation__container">
      <h1 class="logo navigation__logo">Cahee</h1>

      <label class="burger navigation__burger">
        <input class="burger__input" type="checkbox" />
        <span class="burger__box">
          <span class="burger__item"></span>
          <span class="burger__item"></span>
          <span class="burger__item"></span>
        </span>

        <ul class="navigation__list burger__menu">
          <span class="navigation__item">
            <a href="#home" class="navigation__link">Home</a>
          </span>

          <span class="navigation__item">
            <a href="#about" class="navigation__link">About</a>
          </span>

          <span class="navigation__item">
            <a href="#services" class="navigation__link">Services</a>
          </span>

          <span class="navigation__item">
            <a href="#gallery" class="navigation__link">Gallery</a>
          </span>

          <span class="navigation__item">
            <a href="#blog" class="navigation__link">Blog</a>
          </span>

          <span class="navigation__item">
            <a href="#contact" class="navigation__link">Contact</a>
          </span>
        </ul>
      </label>
    </div>
  </nav>

  <section class="header-content">
    <div class="container header__container">
      <h2 class="header__titel">Fresh Life</h2>
      <p class="header__subtitel">
        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco.
      </p>
      <a class="button header__button button--header" href="#">GET FREE NOW</a>

      <a href="#about" class="scroll header__scroll"></a>
    </div>
  </section>
</header>
