<section class="section-subscribe">
  <div class="container section-subscribe__container">
    <h2 class="section-subscribe__title">Subscribe To Us</h2>
    <p class="section-subscribe__description">
      Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    </p>
    <form action="#" class="section-subscribe__form">
      <input
        type="text"
        class="section-subscribe__input"
        placeholder="Your email addres"
      />
      <button
        type="submit"
        class="button button--subscribe section-subscribe__button"
      >
        SUBSCRIBE
      </button>
    </form>
  </div>
</section>
