.input {
  //   width: 100%;
  // width: 502px;
  min-height: 52px;
  padding: 0 15px;
  border: none;
  background-color: rgba($input-color, 0.5);
  border-left: 7px solid transparent;
  color: $white;
  font-family: $base-font;
  @include text($H50, 700);
  padding-left: 20px;
  margin-bottom: 13px;
  transition: all 0.2sec ease;

  @include media {
    width: 502px;
    height: 52px;
    border: none;
    outline: none;
    background-color: rgba($input-color, 0.5);
    border-left: 7px solid transparent;
    color: $white;
    font-family: $base-font;
    @include text($H50, 700);
    padding-left: 20px;
    margin-bottom: 13px;
  }
  &:focus {
    border-left: 7px solid $input-active-border;
    background-color: rgba($input-color, 1);
  }
  &::placeholder {
    color: $white;
  }
  &--textarea {
    width: 502px;
    background-color: rgba($input-color, 0.5);
  }
}
